@font-face {
  font-family: 'Delm-thin';
  font-style: normal;
  src: url('fonts/Delm-Thin.eot'); /* IE9 Compat Modes */
  src: url('fonts/Delm-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Delm-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Delm-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Delm-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Delm';
  font-style: normal;
  src: url('fonts/Delm-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/Delm-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Delm-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Delm-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Delm-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Delm-bold';
  font-style: normal;
  src: url('fonts/Delm-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Delm-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Delm-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Delm-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Delm-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
