extends ./assets/jadefiles/docwrapper.jade

//- Override any config settings by appending to the config block
append ./assets/jadefiles/config.jade
	//- var PageTitle = 'Dev Tips Starter Kit v2 | Jade Bro!'
	//- var MetaDesc = 'Starter Kit for a Jade templated site'
	- var jQuery = true

block content
	//- Variable content blocks
	include ./assets/jadefiles/navigation.jade
	include ./assets/jadefiles/section-home-header.jade
	include ./assets/jadefiles/section-home-latest.jade
	include ./assets/jadefiles/section-home-grid.jade
	include ./assets/jadefiles/section-home-parallax.jade
	include ./assets/jadefiles/section-home-screen.jade
	include ./assets/jadefiles/footer.jade
	
