- var GoogleFonts = 'Lato:300,400,700,900'

- var PageTitle = 'Cre8 | Problem solving with creative thought and creative code'

- var MetaDesc = 'Cre8 is a profesional colaboration between like minded professionals. Offering in-depth solutions to modern day business and personal needs.'

- var jQuery = true

- var functions = true
