// - var GoogleFonts = 

- var PageTitle = 'cre8 code | Problem solving with creative thought and creative code'

- var MetaDesc = 'cre8 code is a profesional colaboration between like minded professionals. Offering in-depth solutions to modern day business and personal needs.'

- var jQuery = true

- var functions = true
