.page-wrap
  .page-sections
    section.editions
      .flex.flex--center.drop
        .col-50.flex.flex--center.blue.drop
          .col-1.full
            h3 Marketing Edition
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a.scroll-on-page-link.btn-outline(href='#marketing') START BUILDING
        
        .col-50.flex.flex--center.pink.drop
          .col-1.full
            h3 Developer Edition
            p New Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            a.btn-outline.scroll-on-page-link(href='#developer') START BUILDING
      
    
