.page-wrap
  .page-sections
    section#video-landing
      .vid-info
        h3 Request a quote
        p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco.
        a.btn-outline(href='#marketing') START BUILDING   
        video(autoplay='autoplay', loop='loop')
          source(src='../assets/img/placeholder/video.mp4', type='video/mp4')
    
  
  
    //- section.cta#video-bg
    //-   .flex.flex--center
    //-     .col-2.higher
    //-       h3 Request a quote
    //-       p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco.
    //-       a.btn-outline(href='#marketing') START BUILDING
    //- 
    //-   .test
    //-     video(autoplay loop)
    //-       source(src='http://taxify.co/wp-content/uploads/2014/06/file.mp4',type='video/mp4')
    //-       source(src='../assets/img/placeholder/video.webm',type='video/webm')
    //- 
