.page-wrap
  .page-sections
    section.who#who
      .flex.flex--center
        .col-2
          h3 Who is C8-Blox for?
          p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco.
          img#wireframe(src='assets/img/placeholder/wireframe.png',alt="",title="")
