.page-wrap
  .page-sections
    section.header
      .flex.flex--center
        .col-2
          h1.blox Introducing CR8 BLOX
          p.lead.blox
            | The ultimate drag and drop HTML builder. Drop the blox you want to use onto your page, edit content inline and save - no technical skills required. 
            span CRE8 BUILDER
            |  comes in two flavours...
          a.btn-large.scroll-on-page-link(href='#who') FIND OUT MORE
