

.da-grid
  article.type-system-rounded
        p.type Wanna know some detail?
        h2
          | The way we work can be compared to the products we produce. We use a tried and tested system that incorporates every aspect of the
          code Discover -> Make -> Observe -> Repeat -> 
          |  formular.

  .grid-items-lines
    a.grid-item(href='javascript:void(0)')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png', alt='')
      h1 Cre8 User Research
      p Develop a holistic understanding of an audience — identifying their behaviors and genuine needs, thus uncovering new design opportunities.
    a.grid-item(href='javascript:void(0)')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png', alt='')
      h1 Cre8 Strategy
      p From brainstorm to execution, we strive to create an innovative end-to-end experiences.
    a.grid-item(href='javascript:void(0)')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png', alt='')
      h1 Cre8 Creative
      p A thoughtfully designed process can surprise and delight people, while also allowing them to successfully accomplish their goals.
    a.grid-item(href='javascript:void(0)')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png', alt='')
      h1 Cre8 Prototypes
      p User test the different versions to deliver a successful user-centered product.
    a.grid-item.grid-item-big(href='javascript:void(0)')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png', alt='')
      h1 Cre8 Code
      p Focusing on easy-to-use interfaces and high performance yet providing 'enterprise-grade' code quality.
    a.grid-item(href='javascript:void(0)')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png', alt='')
      h1 Cre8 Results
      p The process never stops. Once live it's important to analyse products / services and Cre8 reports to ensure goals are met.
    a.grid-item(href='javascript:void(0)')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png', alt='')
      h1 Cre8 Experiences
      p If it doesn’t exist yet, maybe it should. Focusing on user outcomes and simplicity to strive for success with quality code and quality humans.
    //a.grid-item(href='javascript:void(0)')
      
    .right-cover
    .bottom-cover
