.device-background
  .device-text
    h4 Text about my Apps
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, recusandae? Deserunt repellendus.
  .device
    .screen
