.device-background
  .device-text
    h4 Imagination... meet reality.
    p
      | If you can imagine it, we can build it. We’re experts in taking a vision and distilling it into highly usable experiences. Cre8 produce apps that answer perticular problems and 'niggles' in todays digital world.
    p
      | We are constintly designing, planing and building products but more importently, relationships. We’re people serving people since 1996 with people-centered design and software builds at our core. We genuinely love working with smart, motivated people like you.
    
    a.btn-outline
      | LETS CRE8
      
  .device
    .screen
