.hero
  .hero-inner
      a.hero-logo(href='')
        img(src='./assets/img/logo/cre8-logo.svg', alt='Cre8 Logo' onerror="this.onerror=null; this.src='./assets/img/logo/cre8-logo.png'")
      .hero-copy
        h1 Cre8 produces a collaborative journey to produce full apps, components or plugin solutions for digital problems
        p
          | We are a small and focused team providing unparalleled quality in every detail, each step of the way. We Cre8 experiences and solutions that matter.
