.side-image
  .images-wrapper
  .side-image-content
    h4 LATEST CODE DROP
    h1 C8 Blox - Drag and Drop HTML builder 
    p
      | Cre8 have created a nifty Javascript application which allows the user to easily compose custom HTML designs by drag and dropping elements of pre-coded HTML blocks. We welcome <b>C8 Blox to our portfolio</b>.
        
    a.btn-outline
      | START BUILDING

      //| The C8 Builder will initilly be lunched with marketing teams and agencies in mind. The first HTML drag and drop, internally or self hosted 
